.ClockFace {
  &__info {
    position: relative;
  }

  &__timer {
    position: absolute;
    left: 115px;
    bottom: 125px;
  }

  &__start-button {
    &.isActive {
      background-color: #ff6347;
    }
  }
}
