.SettingsModal {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 450px;
  height: 300px;
  background-color: #009879;
  border-radius: 10px;

  .close-button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(192, 192, 192, 0.7);
    z-index: 1000;
  }
}
