.App {
  text-align: center;
}

button {
  cursor: pointer;
  width: 40%;
  margin: 10px;
  border-radius: 25px;
  border: solid white;
  font-size: 14px;
  color: white;
  line-height: 20px;
  background-color: #33a925;
}

.App-header {
  background-color: #8b3f16;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
